body, html{
    background-color: whitesmoke;
    background-size: cover;
    
}
@font-face{
    font-family: disko;
    src: url(/font/Disko.ttf);
}
.contenedor {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    
}
img	{
    
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.90);
    border-radius: 20px;
    margin: 20px auto;
    width:50%;
    border-radius: 14px;
    height: auto;
}
h1{
    font-family: disko;
    font-size: 48px;
}
@media screen and (max-width:1280px){
    .contenedor {
        width: 90%;
    }

}
@media screen and (max-width:1024px){
    .contenedor {
        width: 90%;
    }

}
@media screen and (max-width:960px){
    .contenedor{
        width: 90%;
    }

}