
body {
    font-family: kinder;
    margin: 0;
    min-height: 100%;
    background-image: url(https://media.giphy.com/media/3oKGzhGs74ZOMP5umI/giphy.gif);
}
@font-face{
    font-family: kinder;
    src: url(/font/kinder.ttf);
}
@font-face{
    font-family: code;
    src: url(/font/code.ttf);
}
@font-face{
    font-family: slob;
    src: url(/font/SecretSlob.ttf);
}
@font-face{
    font-family: habbo;
    src: url(/font/HabboFont.ttf);
}
@font-face{
    font-family: urban;
    src: url(/font/URBAN_HOOK-UPZ.ttf);
}
@font-face{
    font-family: disko;
    src: url(/font/Disko.ttf);
}

.brand{
    font-family: kinder;
    color: #4169E1;
    font-size: 56px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 56px;
}
.brand::before,.brand::after{
    content: 'visual sucios';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    opacity: .8;
}
.brand::before{
    color: #14e2e2;
    z-index: -1;
    animation: effect .3s ease infinite;
}
.brand::after{
    color: #ff2a78;
    z-index: -2;
    animation: effect .3s ease reverse infinite;
}
@keyframes effect{
    0% {transform: translate(0);}
    20% {transform: translate(-3px, 3px);}
    40% {transform: translate(-3px, -3px);}
    60% {transform: translate(3px, 3px);}
    80% {transform: translate(3px, -3px);}
    100% {transform: translate(0);}
}

.division {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin: 10px 0 10px;
    padding: 10px 0 10px 0;
  
}
.division2 {
    border-top: 2px black solid;
    margin: 10px 0 10px;
    padding: 20px 0 0 0;
}
p{
    font-size: 18px;
    color:#000000;
}
p span{
    -webkit-text-fill-color: #7878ff;
    font-size: 24px;
    
}

img	{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.90);
    border-radius: 20px;
    margin: 7px auto;
}
.tuit{
    width: 100px;
}

a{
    color: #4169E1;		
    text-decoration:none;
    padding:5px 0px;
}
a.contacto{
    text-decoration: none;
    color: #7878ff;
}

.contenedor {
    margin: auto;
    padding: 1em;
    top: 50%;
    left: 50%;
    width: 500px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 9px 7px 8px 6px rgba(0,0,0,0.75);
}

#creator{
    font-family: disko;
    font-size: 0px;
    padding-top: 5px;
    float: none;
    margin-bottom: 5px;
}

@media screen and (max-width:480px){
    .contenedor {	
        width: 80%;
        
    }
    p span{
        font-size: 20px;
        
    }

}

@media (min-width: 1140px) {
    .contenedor{
        width: 40%;
    }
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 green;
            
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
